<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nice.miniprogram.dao.ExhibitionRoomMapper">
  <resultMap id="BaseResultMap" type="com.nice.miniprogram.model.ExhibitionRoom">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="place_number" jdbcType="VARCHAR" property="placeNumber" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="seat_code" jdbcType="VARCHAR" property="seatCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <select id="selectByPlaceNumber" resultMap="BaseResultMap" parameterType="String">
    select * from v_exhibition_room where place_number = #{placeNumber}
  </select>

  <select id="queryPlaceNumber" resultType="String" parameterType="Integer" >
    select place_number from v_exhibition_room where id = #{exhibitionRoomId}
  </select>

</mapper>