<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nice.good.dao.RfidLabelMapper">
  <resultMap id="BaseResultMap" type="com.nice.good.model.RfidLabel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="label_code" jdbcType="VARCHAR" property="labelCode" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="gooder_code" jdbcType="VARCHAR" property="gooderCode" />
    <result column="good_code" jdbcType="VARCHAR" property="goodCode" />
    <result column="seat_code" jdbcType="VARCHAR" property="seatCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
  </resultMap>

    <select id="selectByGooderAndGoodCode" resultMap="BaseResultMap">
        SELECT * FROM r_rfid_label  WHERE gooder_code=#{gooderCode}  AND good_code=#{goodCode}
    </select>
    
    <select id="selectByRfidCodeAndStatus" resultMap="BaseResultMap">
    SELECT * FROM r_rfid_label  WHERE label_code =#{rfidCode}  AND status=#{status}
    </select>

    <delete id="deleteByGooderCodeAndGoodCode">
        DELETE FROM r_rfid_label  WHERE gooder_code=#{gooderCode}  AND good_code=#{goodCode}
    </delete>

    <select id="selectRfidCodeByGooderAndGoodCode" resultType="String">
        SELECT label_code  FROM r_rfid_label WHERE gooder_code=#{gooderCode} AND good_code=#{goodCode}
    </select>

    <select id="selectAllLabelCode" resultType="String">
        SELECT label_code  FROM r_rfid_label
    </select>
</mapper>